@media (max-width: 320px) {

  header .menu li:last-child {
    padding-right: 0;
  }

  header .menu li{
    margin-right: 0;
  }

  header .menu li a {
    font-size: 1.2em;
  }

  .design-list a.full {
    width: 100%;
  }

  header .subject {
    padding-top: 120px;
  }

  header .avatar {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

  header h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 2.2em;
    font-family: 'RalewaySemibold';
    font-weight: normal;
    line-height: 1em;
    padding-top: 20px;
  }

  header h2 span {
    display: block;
    font-size: 12px;
    padding-top:10px;
    padding-bottom: 20px;
    font-family: 'LMRomanRegular';
    font-weight: normal;
    color: #fff;
    letter-spacing: 0.2em;
    line-height: 1.3em;
  }

  header .subject .social {
    text-align: center;

  }

  header .subject .social a {
    display: inline-block;
    transform: scale(0.1, 0.1);
    font-size: 7px；
    width: 20px;
    height: 20px;
    color: #fff;
  }


  ul {
    list-style-type: none;
    padding-left: 0;
  }

  ul li {
    display: inline-block;
    margin-right: 1.8em;
  }

  header .menu {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
  }



  header .menu li a::after {
    margin-top: 20px;
    position: absolute;
    left: 0;
    width: 0%;
    height: 1.8px;
    background: #fff;
    content: '';
    opacity: 0;
    transition: width 0.3s, opacity 0.2s,transform 0.3s;
  }

  header .menu li a:hover::after{
    opacity: 1;
    width: 100%;
  }

  .container {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
  }

  p.text {
    margin-bottom: 2em;
    font-family: 'LMRomanRegular';
    font-weight: 200;
  }

  h1 {
    font-family:'RalewayRegular';
    font-size: 3em;
    letter-spacing: -0.025em;
    text-align: center;
    font-weight: 500;
    color: #fff;
    padding: 0;
    margin: 0;
  }


  .mission1,.mission2,.mission3 {
    text-align: left;
    position: relative;
    margin-bottom: 2em;
  }

  .title {
    font-family: 'RalewaySemibold';
    position: relative;
    float: left;
  }

  .intro {
    font-family: 'LMRomanSlantRegular';
    clear: both;
  }
  .code-list a,.essay-list a {
    font-size: 0.875em;
    text-decoration: none;
    font-family: 'RalewayRegular', Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    color: #fff;
  }

  img {
    width: 280px;
    height: auto;
    margin: 0 auto 1em;
  }


  .design-list {
    line-height: 0;
    margin-bottom: 6em;
    width: 300px;
  }

  .design-list a {
    background: #222;
    position: relative;
    display: block;
    transition: opacity 0.3s ease;
  }

  .design-list a img {
    margin-bottom: 0;
    opacity: 0.8;
    transition: opacity 0.3s ease-out;
  }

  .design-list a span {
    font-family: 'RalewayRegular', Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: 5px;
    display: inherit;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
  }

  .design-list a span.sub {
    display: none;
  }
  .design-list a:hover img {
    opacity: 0.5;
  }

  #m-cover {
    float: none;
  }


  footer {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  footer .credits {
    margin-top: 4em;
  }

  footer .credits p {
    font-size: 0.4em;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 1.2em;
  }

}
