html {
  color: #000;
  font-size: 12.045pt2;
  font-family: "Arial","Helvetica", "Georgia", sans-serif;
}

@page {margin: 0.5in;}

body {
  font-family: Georgia;
  margin: auto;
  width: 715.171875pt;
}

a,
a:hover{
  color: #000000;
  text-decoration: none;
}


.doc{
  padding: 7.528125pt 60.225pt;
  margin: auto;
  border: solid #000;
  border-width: 6.0225pt 0 1.505625pt 0;
}


section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 0.7528125pt solid #ccc;
}


header{
  margin: 1.5em 0 3em 0;
  padding-bottom: 1em;
  border-bottom: 0.7528125pt solid #ccc;
  display: block;
  overflow: hidden;
}

footer{
  margin-bottom: 2em;
  padding-bottom: 5em;
  font-size: 92%;
  border-top: 0.7528125pt solid #ccc;
  text-align: center;
}

footer p {
  margin-bottom: 0;
  text-align: center;
}

#nm{
  display: block;
  float: left;
}


address{
  display: block;
  float: right;
  width: 32%;
  padding-top: 1.5em;
}

address a{

  color: #000000;
}

h1{
  font-weight: normal;
  font-size: 36.135pt;
  text-transform: uppercase;
  letter-spacing: 2.2584375pt;
}

h2{
  font-size: 140%;
  font-style: italic;
}

h3, h4{
  font-size: 115%;
}

h1,h2,h3,h4{
  color: #333;
  font-weight: normal;
}

p {
  line-height: 13.550625pt;
  padding-right: 3em;
}



a:hover {
  text-decoration: none;
}

li {
  line-height: 24px;
  border-bottom: 0.7528125pt solid #ccc;
}


.work {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.work #time {
  position: absolute;
  top: 0.15em;
  right: 0;
}

#skills{
  display: block;
  overflow: hidden;
}
.talent {
  display: block;
  width: 22%;
  float: left;
  overflow: hidden;
}


.title {
  width: 12.3%;
  display: block;
  float: left;
  margin-right: 2em;
  overflow: hidden;
  padding-bottom: 75.28125pt;
  padding-right: 30.1125pt;
}

.title-last{
  padding-bottom: 75.28125pt;
}

.part-1{
  padding-top: 0.02px;
}

.part-2 {
  padding-top: 2px;
}

#away {
  display: block;
  margin-left: 170px;
}


#experience #move{
  display: block;
  margin-left: 127.978125pt;
  margin-top: 22.584375pt;
  width :100%;
  padding-bottom: 7.528125pt;
}
.last, #experience {
  border-bottom: 0;
  border: none;
  margin-bottom: 0;
}

.talent #dummy{
  visibility: hidden;
}


a[href$=".html"]{
  display: none;
}

a[href^="http://"]{
  display: inline;
}

a[href^="http://"]:after { content: " ( "attr(href)") "; }
